$heading-font: 'Copernicus';

body {
  margin: 0;
  padding: 0;
}

header {
  background: url('../exercise/assets/Ji9qebSpSlSbnsWRZnDX__MG_9520.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin: 0 auto 50px auto;
  position: relative;
  width: 100%;
}

.logo {
  background: url('../exercise/assets/logo_and_hamburger.svg');
  height: 20px;
  position: absolute;
  right: 40px;
  top: 40px;
  width: 200px;
}

.sidebar {
  color: #B2B2B2;
  display: inline-block;
  font-family: 'Futura';
  font-size: 10pt;
  height: 500px;
  margin-left: 15%;
  text-transform: uppercase;
  width: 20%;

  .author {
    color: #6F4F31;
    font-family: $heading-font;
    text-transform: none;
  }

  > div {
    margin: 30px 0;
  }
}

main {
  display: inline-block;
  margin: 0 auto;
  padding: 0 50px;
  vertical-align: top;
  width: 40%;

  p {
    color: #333;
    font-family: Palatino;
    font-size: 12pt;
    line-height: 22pt;
  }

  blockquote {
    color: #8A98A6;
    font-family: $heading-font;
    font-size: 20pt;
    margin: 50px 40px 50px -40px;
  }
}