@import "../exercise/fonts/copernicus_webfont/font.css";
$heading-font: 'Copernicus';

#title {
  bottom: -4px;
  left: 15%;
  position: absolute;
  width: 60%;
}

h1 {
  background: rgba(255,255,255,.8);
  color: #222;
  font-family: $heading-font;
  font-size: 50pt;
  letter-spacing: -1pt;
  line-height: 49pt;
  margin: 0;
  padding: 20px;
}

svg.title {
  font-size: 50pt;
  width: 100%;

  #alpha {
    fill: #fff;
  }

  .titleLine {
    fill: #000;
    font-family: $heading-font;
    letter-spacing: -1pt;
  }

  #base {
    fill: #fff;
    mask: url(#mask);
  }
}

.button {
  cursor: pointer;
  height: 30px;
  left: -30px;
  position: relative;
  width: 30px;
  transition: all .2s;


  &:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
    transition: all .2s;
  }

  &.pencil {
    background: url('../exercise/assets/pencil2.svg');
  }

  &.cancel {
    background: url('../exercise/assets/x2.svg');
  }

  &.save {
    background: url('../exercise/assets/checkmark2.svg');

    &.disabled {
      background: url('../exercise/assets/checkmark2-disabled.svg');
      pointer-events: none;
    }
  }
}

input.editing {
  font-family: $heading-font;
  font-size: 35pt;
  height: 60px;
  padding: 5px;
  width: 100%;
}