@import "../exercise/fonts/copernicus_webfont/font.css";

#title {
  bottom: 5px;
  left: 15%;
  position: absolute;
  width: 60%;
}

h1 {
  background: rgba(255,255,255,.8);
  color: #222;
  font-family: 'Copernicus';
  font-size: 50pt;
  letter-spacing: -1pt;
  line-height: 49pt;
  margin: 0;
  padding: 20px;
}

.button {
  cursor: pointer;
  height: 30px;
  left: -30px;
  position: relative;
  width: 30px;

  &.pencil {
    background: url('../exercise/assets/pencil2.svg');
  }

  &.cancel {
    background: url('../exercise/assets/x2.svg');
  }

  &.save {
    background: url('../exercise/assets/checkmark2.svg');

    &.disabled {
      background: url('../exercise/assets/checkmark2-disabled.svg');
      pointer-events: none;
    }
  }
}

input.editing {
  font-family: 'Copernicus';
  font-size: 35pt;
  height: 60px;
  padding: 5px;
  width: 100%;
}