@import 'vars';

.title-edit {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.button.cancel {
  background: url('../exercise/assets/x2.svg');
}

.button.save {
  background: url('../exercise/assets/checkmark2.svg');

  &.disabled {
    background: url('../exercise/assets/checkmark2-disabled.svg');
    pointer-events: none;
  }
}

.editing-container {
  background-color: #fff;
  box-sizing: border-box;
  padding: 15px;
}

input.editing {
  box-sizing: border-box;
  font-family: $heading-font;
  font-size: 35pt;
  height: 60px;
  padding: 5px;
  width: 100%;
}


.slug {
  color: #888;
  font-family: Futura;
  font-size: 10pt;
  height: 20px;
  margin-top: 5px;
  width: 100%;

  &.light {
    color: #aaa;
  }
}